<a href="https://colab.research.google.com/github/swarupe7/oibsip_task.no4/blob/main/spam_mail18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
data=pd.read_csv('/content/spam.csv', encoding = "ISO-8859-1")

In [ ]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
data=data.replace({'v1':{'ham':0,'spam':1}})
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [ ]:
x=data['v2']
y=data['v1']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=2)

In [ ]:
feature=TfidfVectorizer(min_df=1,stop_words='english',lowercase='true')
x_train_feat=feature.fit_transform(x_train)

In [ ]:
x_test_feat=feature.transform(x_test)
y_train=y_train.astype('int')
y_test=y_test.astype('int')
#x_train_feat= x_train_feat.reshape(-1, 1)

In [ ]:
print(x_train_feat)
print(x_test_feat)

  (3903, 0)	0.5840594322397737
  (4003, 0)	0.4665733125931123
  (6010, 0)	0.6642167745455115
  (10436, 0)	0.5737163408939943
  (8918, 0)	0.8190540642663378
  (16603, 0)	0.33120665478779976
  (16828, 0)	0.49958507974919814
  (18146, 0)	0.49958507974919814
  (19333, 0)	0.45920583434234813
  (17111, 0)	0.24009735816969147
  (15291, 0)	0.3501641162571242
  (24183, 0)	0.4204111980396913
  (25532, 0)	0.3598285896676375
  (24867, 0)	0.3968396805141732
  (25334, 0)	0.4352991391821672
  (24804, 0)	0.39499483252028933
  (24817, 0)	0.4367949407898085
  (33350, 0)	0.6377939232039059
  (31575, 0)	0.6377939232039059
  (33465, 0)	0.43178446364863604
  (37811, 0)	0.6135272724876246
  (37373, 0)	0.544325718242287
  (36757, 0)	0.5720959695487414
  (41749, 0)	0.3172200192789814
  (46106, 0)	0.36426180641364037
  :	:
  (26342005, 0)	0.5016704832029851
  (26352069, 0)	0.8551055944400807
  (26349452, 0)	0.5184538767887424
  (26359190, 0)	0.3911407694662482
  (26356793, 0)	0.3493491060351844
  (26356670, 0)	0.35952659650729857
  (26355784, 0)	0.3410334908350003
  (26353738, 0)	0.2861207601172852
  (26358783, 0)	0.3410334908350003
  (26358165, 0)	0.2992418274039365
  (26358506, 0)	0.25450658715833563
  (26358589, 0)	0.2043993085270878
  (26354563, 0)	0.2190666123826968
  (26355337, 0)	0.19272628700602384
  (26362465, 0)	0.4146737434263649
  (26361243, 0)	0.4635192507742147
  (26362161, 0)	0.30037486208059927
  (26363020, 0)	0.29995962641368057
  (26363599, 0)	0.5762633042309427
  (26364548, 0)	0.31767177970845634
  (26369208, 0)	1.0
  (26377939, 0)	0.6140248338086584
  (26378794, 0)	0.5849937866167885
  (26375620, 0)	0.31968884591693836
  (26378780, 0)	0.4225574693249392
  (0, 5962)	0.32931753981804923
  (0, 4306)	0.46520766154976206
  (0, 2266)	0.3547407665582291
  (0, 2093)	0.364599685548771
  (0, 1918)	0.25885661740845306
  (0, 1480)	0.46520766154976206
  (0, 1049)	0.364599685548771
  (1, 5962)	0.2583412190107191
  (1, 4995)	0.37826231847639064
  (1, 4957)	0.2904317203663861
  (1, 4727)	0.27653783592024345
  (1, 4552)	0.36494355704313025
  (1, 3664)	0.35461272307772007
  (1, 2617)	0.19387176173904513
  (1, 2019)	0.22236727276644483
  (1, 922)	0.3970340583987973
  (1, 405)	0.35461272307772007
  (2, 6463)	0.5393152804795318
  (2, 4275)	0.6607431459221429
  (2, 1886)	0.5220704199226324
  (3, 5937)	0.41587786427809215
  (3, 4252)	0.5740515247790053
  (3, 2858)	0.45177033146687345
  (3, 1563)	0.5416770407804847
  (4, 6622)	0.19807506435649092
  :	:
  (1670, 6432)	0.2565218840461709
  (1670, 5964)	0.2796179572656827
  (1670, 5931)	0.38103694890451506
  (1670, 5921)	0.2627417792430902
  (1670, 5248)	0.3099642370434565
  (1670, 5240)	0.2517338363413396
  (1670, 4512)	0.2763359204369532
  (1670, 4238)	0.2967775131168925
  (1670, 3033)	0.26427693284612025
  (1670, 2067)	0.49805565847050076
  (1671, 6616)	0.21983180418246862
  (1671, 6413)	0.29112662867368
  (1671, 6010)	0.1866965956462095
  (1671, 5416)	0.2439436551953736
  (1671, 4876)	0.2591489771228208
  (1671, 4291)	0.17263374880126628
  (1671, 4286)	0.21404568872297478
  (1671, 4175)	0.21801453961716732
  (1671, 3938)	0.2777170273213807
  (1671, 3629)	0.18021945958203917
  (1671, 2799)	0.3283322910019409
  (1671, 2793)	0.18554853130128754
  (1671, 2521)	0.3461366530845623
  (1671, 2022)	0.26228680882114713
  (1671, 1929)	0.37657341110011333

In [ ]:
lr=LogisticRegression()
lr.fit(x_train_feat,y_train)

LogisticRegression()

In [ ]:
pred=lr.predict(x_train_feat)

In [ ]:
acc=accuracy_score(y_train,pred)

In [ ]:
print(acc)

0.97

In [ ]:
lr.fit(x_test_feat,y_test)

LogisticRegression()

In [ ]:
test_pred=lr.predict(x_test_feat)

In [ ]:
acc2=accuracy_score(y_test,test_pred)

In [ ]:
print(acc2)

0.9401913875598086

Building a Predictive System

In [ ]:
input_mail=['hello bro i am struck in traffic so i would br late today#']#hello free offer to win 5000 crore click on this link to claim it']
input_mail_tran=feature.transform(input_mail)

In [ ]:
print(input_mail_tran)

  (0, 6551)	0.3144237225356128
  (0, 4272)	0.3625781504071979
  (0, 3602)	0.4187945807179003
  (0, 2969)	0.3479389630588147
  (0, 2617)	0.2439287901469073
  (0, 1614)	0.4461725200985145
  (0, 1596)	0.2884272823342488
  (0, 464)	0.3625781504071979

In [ ]:
predict=lr.predict(input_mail_tran)
print(predict)

[0]

In [ ]:
if (predict==[1]):
    print('spam')
else:
  print('ham')

ham